{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="register_form" method="post" action="/new">
        <div class="form-group">
          <label for="exampleInputEmail1">选择板块</label>
          <select class="form-control" name="newtype">
            <option>分享</option>
            <option>问答</option>
            <option>招聘</option>
            <option>客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">内容</label>
          <textarea class="form-control" rows="3" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>
<!-- <script>
$('#register_form').on('submit', function (e) {
  e.preventDefault()
  var formData = $(this).serialize()
  $.ajax({
    url: '/new',
    type: 'post',
    data: formData,
    dataType: 'json',
    success: function (data) {
      var err_code = data.err_code
      if (err_code === 0) {
        // window.alert('注册成功！')
        // 服务端重定向针对异步请求无效
        window.location.href = '/'
      } else if (err_code === 1) {
        window.alert('邮箱已存在！')
      } else if (err_code === 2) {
        window.alert('昵称已存在！')
      } else if (err_code === 500) {
        window.alert('服务器忙，请稍后重试！')
      }
    }
  })
})
</script> -->
{{/block}}
